<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zheng.springboot.dao.UserDao">

	<resultMap id="BaseMap" type="com.zheng.springboot.domain.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="salt" property="salt" />
        <result column="password" property="password" />
        <result column="avatar" property="avatar" />
        <result column="nick_name" property="nickName" />
        <result column="status" property="status" />
        <result column="active_time" property="activeTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
	</resultMap>

	<sql id="tableName">tb_user</sql>
	<sql id="Base_Column_List">
            id,
            username,
            salt,
            password,
            avatar,
            nick_name,
            status,
            active_time,
            create_time,
            update_time,
            is_delete
	</sql>
	
	<select id="selectById" resultMap="BaseMap">
		SELECT <include refid="Base_Column_List"/>
		FROM <include refid="tableName"/>
		WHERE id = #{id}
        AND is_delete = 0
	</select>

    <select id="listPageByFilter" resultMap="BaseMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tableName"/>
        <where>
            <if test="filter.username != null and filter.username != ''">
                    and username like concat('%', #{filter.username}, '%')
            </if>
            <if test="filter.salt != null and filter.salt != ''">
                    and salt like concat('%', #{filter.salt}, '%')
            </if>
            <if test="filter.password != null and filter.password != ''">
                    and password like concat('%', #{filter.password}, '%')
            </if>
            <if test="filter.avatar != null and filter.avatar != ''">
                    and avatar like concat('%', #{filter.avatar}, '%')
            </if>
            <if test="filter.nickName != null and filter.nickName != ''">
                    and nick_name like concat('%', #{filter.nickName}, '%')
            </if>
            <if test="filter.status != null">
                    and status = #{filter.status}
            </if>
            <if test="filter.activeTime != null">
                    and active_time = #{filter.activeTime}
            </if>
            <if test="filter.createTime != null">
                    and create_time = #{filter.createTime}
            </if>
            <if test="filter.updateTime != null">
                    and update_time = #{filter.updateTime}
            </if>
            and is_delete = 0
        </where>
        ORDER BY update_time DESC
    </select>

    <select id="listPage" resultMap="BaseMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tableName"/>
        WHERE is_delete = 0
        ORDER BY update_time DESC
    </select>

    <select id="listByFilter" resultMap="BaseMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tableName"/>
        <where>
            <if test="filter.username != null and filter.username != ''">
                    and username like concat('%', #{filter.username}, '%')
            </if>
            <if test="filter.salt != null and filter.salt != ''">
                    and salt like concat('%', #{filter.salt}, '%')
            </if>
            <if test="filter.password != null and filter.password != ''">
                    and password like concat('%', #{filter.password}, '%')
            </if>
            <if test="filter.avatar != null and filter.avatar != ''">
                    and avatar like concat('%', #{filter.avatar}, '%')
            </if>
            <if test="filter.nickName != null and filter.nickName != ''">
                    and nick_name like concat('%', #{filter.nickName}, '%')
            </if>
            <if test="filter.status != null">
                    and status = #{filter.status}
            </if>
            <if test="filter.activeTime != null">
                    and active_time = #{filter.activeTime}
            </if>
            <if test="filter.createTime != null">
                    and create_time = #{filter.createTime}
            </if>
            <if test="filter.updateTime != null">
                    and update_time = #{filter.updateTime}
            </if>
            and is_delete = 0
        </where>
        ORDER BY update_time DESC
    </select>

    <select id="findAll" resultMap="BaseMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tableName"/>
        WHERE is_delete = 0
        ORDER BY update_time DESC
    </select>

    <update id="deleteById">
        UPDATE <include refid="tableName"/>
        SET is_delete = 1
        WHERE id = #{id}
	</update>
	
	<update id="update" parameterType="com.zheng.springboot.domain.User">
		UPDATE <include refid="tableName"/>
		<set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="salt != null">
                salt = #{salt},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="activeTime != null">
                active_time = #{activeTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            update_time = now(),
            <if test="isDelete != null">
                is_delete = #{isDelete},
            </if>
		</set>
		WHERE id = #{id}
	</update>
	
	<insert id="insert" parameterType="com.zheng.springboot.domain.User"
			useGeneratedKeys="true" keyProperty="id">
		INSERT INTO <include refid="tableName"/>(
                id,
                <if test="username != null">
                    username,
                </if>
                <if test="salt != null">
                    salt,
                </if>
                <if test="password != null">
                    password,
                </if>
                <if test="avatar != null">
                    avatar,
                </if>
                <if test="nickName != null">
                    nick_name,
                </if>
                <if test="status != null">
                    status,
                </if>
                <if test="activeTime != null">
                    active_time,
                </if>
                create_time,
                update_time,
                is_delete
        )
		VALUES (
                id,
                <if test="username != null">
                    #{username},
                </if>
                <if test="salt != null">
                    #{salt},
                </if>
                <if test="password != null">
                    #{password},
                </if>
                <if test="avatar != null">
                    #{avatar},
                </if>
                <if test="nickName != null">
                    #{nickName},
                </if>
                <if test="status != null">
                    #{status},
                </if>
                <if test="activeTime != null">
                    #{activeTime},
                </if>
                now(),
                now(),
                0
		)
	</insert>
</mapper>
