<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zheng.example.dao.GoodsDao">

	<resultMap id="BaseMap" type="com.zheng.example.domain.Goods">
        <id column="goods_id" property="goodsId" />
        <result column="goods_sn" property="goodsSn" />
        <result column="goods_type" property="goodsType" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_thumb" property="goodsThumb" />
        <result column="goods_img" property="goodsImg" />
        <result column="cat_id" property="catId" />
        <result column="customer_cat_id" property="customerCatId" />
        <result column="brand_id" property="brandId" />
        <result column="supplier_id" property="supplierId" />
        <result column="units_id" property="unitsId" />
        <result column="factory_price" property="factoryPrice" />
        <result column="supply_price" property="supplyPrice" />
        <result column="market_price" property="marketPrice" />
        <result column="retail_price" property="retailPrice" />
        <result column="bottom_price_attr_id" property="bottomPriceAttrId" />
        <result column="price_explain" property="priceExplain" />
        <result column="deliver_fee" property="deliverFee" />
        <result column="moq" property="moq" />
        <result column="sale_count" property="saleCount" />
        <result column="exception_un_sale_num" property="exceptionUnSaleNum" />
        <result column="gift_send_count" property="giftSendCount" />
        <result column="warn_stock" property="warnStock" />
        <result column="goods_spec" property="goodsSpec" />
        <result column="goods_param" property="goodsParam" />
        <result column="is_sale" property="isSale" />
        <result column="goods_desc" property="goodsDesc" />
        <result column="goods_status" property="goodsStatus" />
        <result column="goods_keywords" property="goodsKeywords" />
        <result column="score" property="score" />
        <result column="gd_group_id" property="gdGroupId" />
        <result column="activity_price" property="activityPrice" />
        <result column="favorite_count" property="favoriteCount" />
        <result column="comment_count" property="commentCount" />
        <result column="good_comment_count" property="goodCommentCount" />
        <result column="good_comment_rate" property="goodCommentRate" />
        <result column="default_activity_quota_number" property="defaultActivityQuotaNumber" />
        <result column="audit_status" property="auditStatus" />
        <result column="delete_cord___" property="deleteCord___" />
        <result column="is_new" property="isNew" />
        <result column="is_best" property="isBest" />
        <result column="is_hot" property="isHot" />
        <result column="status_remarks" property="statusRemarks" />
        <result column="audit_pass_time" property="auditPassTime" />
        <result column="attr_cat_id" property="attrCatId" />
        <result column="goods_stock" property="goodsStock" />
        <result column="goods_code" property="goodsCode" />
        <result column="is_book" property="isBook" />
        <result column="rebate" property="rebate" />
        <result column="book_quantity" property="bookQuantity" />
        <result column="is_recomm" property="isRecomm" />
        <result column="is_admin_best" property="isAdminBest" />
        <result column="is_admin_recom" property="isAdminRecom" />
        <result column="is_shop_recomm" property="isShopRecomm" />
        <result column="is_index_recomm" property="isIndexRecomm" />
        <result column="is_activity_recomm" property="isActivityRecomm" />
        <result column="is_inner_recomm" property="isInnerRecomm" />
        <result column="recomm_desc" property="recommDesc" />
        <result column="sale_time" property="saleTime" />
        <result column="delivery_fare_temp_id" property="deliveryFareTempId" />
        <result column="delivery_fare_temp_value" property="deliveryFareTempValue" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="version_id" property="versionId" />
	</resultMap>

	<sql id="tableName">wst_goods</sql>
	<sql id="Base_Column_List">
            goods_id,
            goods_sn,
            goods_type,
            goods_name,
            goods_thumb,
            goods_img,
            cat_id,
            customer_cat_id,
            brand_id,
            supplier_id,
            units_id,
            factory_price,
            supply_price,
            market_price,
            retail_price,
            bottom_price_attr_id,
            price_explain,
            deliver_fee,
            moq,
            sale_count,
            exception_un_sale_num,
            gift_send_count,
            warn_stock,
            goods_spec,
            goods_param,
            is_sale,
            goods_desc,
            goods_status,
            goods_keywords,
            score,
            gd_group_id,
            activity_price,
            favorite_count,
            comment_count,
            good_comment_count,
            good_comment_rate,
            default_activity_quota_number,
            audit_status,
            delete_cord___,
            is_new,
            is_best,
            is_hot,
            status_remarks,
            audit_pass_time,
            attr_cat_id,
            goods_stock,
            goods_code,
            is_book,
            rebate,
            book_quantity,
            is_recomm,
            is_admin_best,
            is_admin_recom,
            is_shop_recomm,
            is_index_recomm,
            is_activity_recomm,
            is_inner_recomm,
            recomm_desc,
            sale_time,
            delivery_fare_temp_id,
            delivery_fare_temp_value,
            create_time,
            update_time,
            is_delete,
            version_id
	</sql>
	
	<select id="selectById" resultMap="BaseMap">
		SELECT <include refid="Base_Column_List"/>
		FROM <include refid="tableName"/>
		WHERE goods_id = #{goodsId}
        AND is_delete = 0
	</select>

    <select id="listPageByFilter" resultMap="BaseMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tableName"/>
        <where>
            <if test="filter.goodsSn != null and filter.goodsSn != ''">
                    and goods_sn like concat('%', #{filter.goodsSn}, '%')
            </if>
            <if test="filter.goodsType != null">
                    and goods_type = #{filter.goodsType}
            </if>
            <if test="filter.goodsName != null and filter.goodsName != ''">
                    and goods_name like concat('%', #{filter.goodsName}, '%')
            </if>
            <if test="filter.goodsThumb != null and filter.goodsThumb != ''">
                    and goods_thumb like concat('%', #{filter.goodsThumb}, '%')
            </if>
            <if test="filter.goodsImg != null and filter.goodsImg != ''">
                    and goods_img like concat('%', #{filter.goodsImg}, '%')
            </if>
            <if test="filter.catId != null">
                    and cat_id = #{filter.catId}
            </if>
            <if test="filter.customerCatId != null">
                    and customer_cat_id = #{filter.customerCatId}
            </if>
            <if test="filter.brandId != null">
                    and brand_id = #{filter.brandId}
            </if>
            <if test="filter.supplierId != null">
                    and supplier_id = #{filter.supplierId}
            </if>
            <if test="filter.unitsId != null">
                    and units_id = #{filter.unitsId}
            </if>
            <if test="filter.factoryPrice != null">
                    and factory_price = #{filter.factoryPrice}
            </if>
            <if test="filter.supplyPrice != null">
                    and supply_price = #{filter.supplyPrice}
            </if>
            <if test="filter.marketPrice != null">
                    and market_price = #{filter.marketPrice}
            </if>
            <if test="filter.retailPrice != null">
                    and retail_price = #{filter.retailPrice}
            </if>
            <if test="filter.bottomPriceAttrId != null">
                    and bottom_price_attr_id = #{filter.bottomPriceAttrId}
            </if>
            <if test="filter.priceExplain != null and filter.priceExplain != ''">
                    and price_explain like concat('%', #{filter.priceExplain}, '%')
            </if>
            <if test="filter.deliverFee != null">
                    and deliver_fee = #{filter.deliverFee}
            </if>
            <if test="filter.moq != null">
                    and moq = #{filter.moq}
            </if>
            <if test="filter.saleCount != null">
                    and sale_count = #{filter.saleCount}
            </if>
            <if test="filter.exceptionUnSaleNum != null">
                    and exception_un_sale_num = #{filter.exceptionUnSaleNum}
            </if>
            <if test="filter.giftSendCount != null">
                    and gift_send_count = #{filter.giftSendCount}
            </if>
            <if test="filter.warnStock != null">
                    and warn_stock = #{filter.warnStock}
            </if>
            <if test="filter.goodsSpec != null and filter.goodsSpec != ''">
                    and goods_spec like concat('%', #{filter.goodsSpec}, '%')
            </if>
            <if test="filter.goodsParam != null and filter.goodsParam != ''">
                    and goods_param like concat('%', #{filter.goodsParam}, '%')
            </if>
            <if test="filter.isSale != null">
                    and is_sale = #{filter.isSale}
            </if>
            <if test="filter.goodsDesc != null and filter.goodsDesc != ''">
                    and goods_desc like concat('%', #{filter.goodsDesc}, '%')
            </if>
            <if test="filter.goodsStatus != null">
                    and goods_status = #{filter.goodsStatus}
            </if>
            <if test="filter.goodsKeywords != null and filter.goodsKeywords != ''">
                    and goods_keywords like concat('%', #{filter.goodsKeywords}, '%')
            </if>
            <if test="filter.score != null">
                    and score = #{filter.score}
            </if>
            <if test="filter.gdGroupId != null">
                    and gd_group_id = #{filter.gdGroupId}
            </if>
            <if test="filter.activityPrice != null">
                    and activity_price = #{filter.activityPrice}
            </if>
            <if test="filter.favoriteCount != null">
                    and favorite_count = #{filter.favoriteCount}
            </if>
            <if test="filter.commentCount != null">
                    and comment_count = #{filter.commentCount}
            </if>
            <if test="filter.goodCommentCount != null">
                    and good_comment_count = #{filter.goodCommentCount}
            </if>
            <if test="filter.goodCommentRate != null">
                    and good_comment_rate = #{filter.goodCommentRate}
            </if>
            <if test="filter.defaultActivityQuotaNumber != null">
                    and default_activity_quota_number = #{filter.defaultActivityQuotaNumber}
            </if>
            <if test="filter.auditStatus != null">
                    and audit_status = #{filter.auditStatus}
            </if>
            <if test="filter.deleteCord___ != null">
                    and delete_cord___ = #{filter.deleteCord___}
            </if>
            <if test="filter.isNew != null">
                    and is_new = #{filter.isNew}
            </if>
            <if test="filter.isBest != null">
                    and is_best = #{filter.isBest}
            </if>
            <if test="filter.isHot != null">
                    and is_hot = #{filter.isHot}
            </if>
            <if test="filter.statusRemarks != null and filter.statusRemarks != ''">
                    and status_remarks like concat('%', #{filter.statusRemarks}, '%')
            </if>
            <if test="filter.auditPassTime != null">
                    and audit_pass_time = #{filter.auditPassTime}
            </if>
            <if test="filter.attrCatId != null">
                    and attr_cat_id = #{filter.attrCatId}
            </if>
            <if test="filter.goodsStock != null">
                    and goods_stock = #{filter.goodsStock}
            </if>
            <if test="filter.goodsCode != null and filter.goodsCode != ''">
                    and goods_code like concat('%', #{filter.goodsCode}, '%')
            </if>
            <if test="filter.isBook != null">
                    and is_book = #{filter.isBook}
            </if>
            <if test="filter.rebate != null">
                    and rebate = #{filter.rebate}
            </if>
            <if test="filter.bookQuantity != null">
                    and book_quantity = #{filter.bookQuantity}
            </if>
            <if test="filter.isRecomm != null">
                    and is_recomm = #{filter.isRecomm}
            </if>
            <if test="filter.isAdminBest != null">
                    and is_admin_best = #{filter.isAdminBest}
            </if>
            <if test="filter.isAdminRecom != null">
                    and is_admin_recom = #{filter.isAdminRecom}
            </if>
            <if test="filter.isShopRecomm != null">
                    and is_shop_recomm = #{filter.isShopRecomm}
            </if>
            <if test="filter.isIndexRecomm != null">
                    and is_index_recomm = #{filter.isIndexRecomm}
            </if>
            <if test="filter.isActivityRecomm != null">
                    and is_activity_recomm = #{filter.isActivityRecomm}
            </if>
            <if test="filter.isInnerRecomm != null">
                    and is_inner_recomm = #{filter.isInnerRecomm}
            </if>
            <if test="filter.recommDesc != null and filter.recommDesc != ''">
                    and recomm_desc like concat('%', #{filter.recommDesc}, '%')
            </if>
            <if test="filter.saleTime != null">
                    and sale_time = #{filter.saleTime}
            </if>
            <if test="filter.deliveryFareTempId != null">
                    and delivery_fare_temp_id = #{filter.deliveryFareTempId}
            </if>
            <if test="filter.deliveryFareTempValue != null and filter.deliveryFareTempValue != ''">
                    and delivery_fare_temp_value like concat('%', #{filter.deliveryFareTempValue}, '%')
            </if>
            <if test="filter.createTime != null">
                    and create_time = #{filter.createTime}
            </if>
            <if test="filter.updateTime != null">
                    and update_time = #{filter.updateTime}
            </if>
            and is_delete = 0
            <if test="filter.versionId != null">
                    and version_id = #{filter.versionId}
            </if>
        </where>
        ORDER BY updateTime DESC
    </select>

    <select id="listPage" resultMap="BaseMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tableName"/>
        WHERE is_delete = 0
        ORDER BY updateTime DESC
    </select>

    <select id="listByFilter" resultMap="BaseMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tableName"/>
        <where>
            <if test="filter.goodsSn != null and filter.goodsSn != ''">
                    and goods_sn like concat('%', #{filter.goodsSn}, '%')
            </if>
            <if test="filter.goodsType != null">
                    and goods_type = #{filter.goodsType}
            </if>
            <if test="filter.goodsName != null and filter.goodsName != ''">
                    and goods_name like concat('%', #{filter.goodsName}, '%')
            </if>
            <if test="filter.goodsThumb != null and filter.goodsThumb != ''">
                    and goods_thumb like concat('%', #{filter.goodsThumb}, '%')
            </if>
            <if test="filter.goodsImg != null and filter.goodsImg != ''">
                    and goods_img like concat('%', #{filter.goodsImg}, '%')
            </if>
            <if test="filter.catId != null">
                    and cat_id = #{filter.catId}
            </if>
            <if test="filter.customerCatId != null">
                    and customer_cat_id = #{filter.customerCatId}
            </if>
            <if test="filter.brandId != null">
                    and brand_id = #{filter.brandId}
            </if>
            <if test="filter.supplierId != null">
                    and supplier_id = #{filter.supplierId}
            </if>
            <if test="filter.unitsId != null">
                    and units_id = #{filter.unitsId}
            </if>
            <if test="filter.factoryPrice != null">
                    and factory_price = #{filter.factoryPrice}
            </if>
            <if test="filter.supplyPrice != null">
                    and supply_price = #{filter.supplyPrice}
            </if>
            <if test="filter.marketPrice != null">
                    and market_price = #{filter.marketPrice}
            </if>
            <if test="filter.retailPrice != null">
                    and retail_price = #{filter.retailPrice}
            </if>
            <if test="filter.bottomPriceAttrId != null">
                    and bottom_price_attr_id = #{filter.bottomPriceAttrId}
            </if>
            <if test="filter.priceExplain != null and filter.priceExplain != ''">
                    and price_explain like concat('%', #{filter.priceExplain}, '%')
            </if>
            <if test="filter.deliverFee != null">
                    and deliver_fee = #{filter.deliverFee}
            </if>
            <if test="filter.moq != null">
                    and moq = #{filter.moq}
            </if>
            <if test="filter.saleCount != null">
                    and sale_count = #{filter.saleCount}
            </if>
            <if test="filter.exceptionUnSaleNum != null">
                    and exception_un_sale_num = #{filter.exceptionUnSaleNum}
            </if>
            <if test="filter.giftSendCount != null">
                    and gift_send_count = #{filter.giftSendCount}
            </if>
            <if test="filter.warnStock != null">
                    and warn_stock = #{filter.warnStock}
            </if>
            <if test="filter.goodsSpec != null and filter.goodsSpec != ''">
                    and goods_spec like concat('%', #{filter.goodsSpec}, '%')
            </if>
            <if test="filter.goodsParam != null and filter.goodsParam != ''">
                    and goods_param like concat('%', #{filter.goodsParam}, '%')
            </if>
            <if test="filter.isSale != null">
                    and is_sale = #{filter.isSale}
            </if>
            <if test="filter.goodsDesc != null and filter.goodsDesc != ''">
                    and goods_desc like concat('%', #{filter.goodsDesc}, '%')
            </if>
            <if test="filter.goodsStatus != null">
                    and goods_status = #{filter.goodsStatus}
            </if>
            <if test="filter.goodsKeywords != null and filter.goodsKeywords != ''">
                    and goods_keywords like concat('%', #{filter.goodsKeywords}, '%')
            </if>
            <if test="filter.score != null">
                    and score = #{filter.score}
            </if>
            <if test="filter.gdGroupId != null">
                    and gd_group_id = #{filter.gdGroupId}
            </if>
            <if test="filter.activityPrice != null">
                    and activity_price = #{filter.activityPrice}
            </if>
            <if test="filter.favoriteCount != null">
                    and favorite_count = #{filter.favoriteCount}
            </if>
            <if test="filter.commentCount != null">
                    and comment_count = #{filter.commentCount}
            </if>
            <if test="filter.goodCommentCount != null">
                    and good_comment_count = #{filter.goodCommentCount}
            </if>
            <if test="filter.goodCommentRate != null">
                    and good_comment_rate = #{filter.goodCommentRate}
            </if>
            <if test="filter.defaultActivityQuotaNumber != null">
                    and default_activity_quota_number = #{filter.defaultActivityQuotaNumber}
            </if>
            <if test="filter.auditStatus != null">
                    and audit_status = #{filter.auditStatus}
            </if>
            <if test="filter.deleteCord___ != null">
                    and delete_cord___ = #{filter.deleteCord___}
            </if>
            <if test="filter.isNew != null">
                    and is_new = #{filter.isNew}
            </if>
            <if test="filter.isBest != null">
                    and is_best = #{filter.isBest}
            </if>
            <if test="filter.isHot != null">
                    and is_hot = #{filter.isHot}
            </if>
            <if test="filter.statusRemarks != null and filter.statusRemarks != ''">
                    and status_remarks like concat('%', #{filter.statusRemarks}, '%')
            </if>
            <if test="filter.auditPassTime != null">
                    and audit_pass_time = #{filter.auditPassTime}
            </if>
            <if test="filter.attrCatId != null">
                    and attr_cat_id = #{filter.attrCatId}
            </if>
            <if test="filter.goodsStock != null">
                    and goods_stock = #{filter.goodsStock}
            </if>
            <if test="filter.goodsCode != null and filter.goodsCode != ''">
                    and goods_code like concat('%', #{filter.goodsCode}, '%')
            </if>
            <if test="filter.isBook != null">
                    and is_book = #{filter.isBook}
            </if>
            <if test="filter.rebate != null">
                    and rebate = #{filter.rebate}
            </if>
            <if test="filter.bookQuantity != null">
                    and book_quantity = #{filter.bookQuantity}
            </if>
            <if test="filter.isRecomm != null">
                    and is_recomm = #{filter.isRecomm}
            </if>
            <if test="filter.isAdminBest != null">
                    and is_admin_best = #{filter.isAdminBest}
            </if>
            <if test="filter.isAdminRecom != null">
                    and is_admin_recom = #{filter.isAdminRecom}
            </if>
            <if test="filter.isShopRecomm != null">
                    and is_shop_recomm = #{filter.isShopRecomm}
            </if>
            <if test="filter.isIndexRecomm != null">
                    and is_index_recomm = #{filter.isIndexRecomm}
            </if>
            <if test="filter.isActivityRecomm != null">
                    and is_activity_recomm = #{filter.isActivityRecomm}
            </if>
            <if test="filter.isInnerRecomm != null">
                    and is_inner_recomm = #{filter.isInnerRecomm}
            </if>
            <if test="filter.recommDesc != null and filter.recommDesc != ''">
                    and recomm_desc like concat('%', #{filter.recommDesc}, '%')
            </if>
            <if test="filter.saleTime != null">
                    and sale_time = #{filter.saleTime}
            </if>
            <if test="filter.deliveryFareTempId != null">
                    and delivery_fare_temp_id = #{filter.deliveryFareTempId}
            </if>
            <if test="filter.deliveryFareTempValue != null and filter.deliveryFareTempValue != ''">
                    and delivery_fare_temp_value like concat('%', #{filter.deliveryFareTempValue}, '%')
            </if>
            <if test="filter.createTime != null">
                    and create_time = #{filter.createTime}
            </if>
            <if test="filter.updateTime != null">
                    and update_time = #{filter.updateTime}
            </if>
            and is_delete = 0
            <if test="filter.versionId != null">
                    and version_id = #{filter.versionId}
            </if>
        </where>
        ORDER BY updateTime DESC
    </select>

    <select id="findAll" resultMap="BaseMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tableName"/>
        WHERE is_delete = 0
        ORDER BY updateTime DESC
    </select>

    <update id="deleteById">
        UPDATE <include refid="tableName"/>
        SET is_delete = 1
        WHERE goods_id = #{goodsId}
	</update>
	
	<update id="update" parameterType="com.zheng.example.domain.Goods">
		UPDATE <include refid="tableName"/>
		<set>
            <if test="goodsSn != null">
                goods_sn = #{goodsSn},
            </if>
            <if test="goodsType != null">
                goods_type = #{goodsType},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName},
            </if>
            <if test="goodsThumb != null">
                goods_thumb = #{goodsThumb},
            </if>
            <if test="goodsImg != null">
                goods_img = #{goodsImg},
            </if>
            <if test="catId != null">
                cat_id = #{catId},
            </if>
            <if test="customerCatId != null">
                customer_cat_id = #{customerCatId},
            </if>
            <if test="brandId != null">
                brand_id = #{brandId},
            </if>
            <if test="supplierId != null">
                supplier_id = #{supplierId},
            </if>
            <if test="unitsId != null">
                units_id = #{unitsId},
            </if>
            <if test="factoryPrice != null">
                factory_price = #{factoryPrice},
            </if>
            <if test="supplyPrice != null">
                supply_price = #{supplyPrice},
            </if>
            <if test="marketPrice != null">
                market_price = #{marketPrice},
            </if>
            <if test="retailPrice != null">
                retail_price = #{retailPrice},
            </if>
            <if test="bottomPriceAttrId != null">
                bottom_price_attr_id = #{bottomPriceAttrId},
            </if>
            <if test="priceExplain != null">
                price_explain = #{priceExplain},
            </if>
            <if test="deliverFee != null">
                deliver_fee = #{deliverFee},
            </if>
            <if test="moq != null">
                moq = #{moq},
            </if>
            <if test="saleCount != null">
                sale_count = #{saleCount},
            </if>
            <if test="exceptionUnSaleNum != null">
                exception_un_sale_num = #{exceptionUnSaleNum},
            </if>
            <if test="giftSendCount != null">
                gift_send_count = #{giftSendCount},
            </if>
            <if test="warnStock != null">
                warn_stock = #{warnStock},
            </if>
            <if test="goodsSpec != null">
                goods_spec = #{goodsSpec},
            </if>
            <if test="goodsParam != null">
                goods_param = #{goodsParam},
            </if>
            <if test="isSale != null">
                is_sale = #{isSale},
            </if>
            <if test="goodsDesc != null">
                goods_desc = #{goodsDesc},
            </if>
            <if test="goodsStatus != null">
                goods_status = #{goodsStatus},
            </if>
            <if test="goodsKeywords != null">
                goods_keywords = #{goodsKeywords},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="gdGroupId != null">
                gd_group_id = #{gdGroupId},
            </if>
            <if test="activityPrice != null">
                activity_price = #{activityPrice},
            </if>
            <if test="favoriteCount != null">
                favorite_count = #{favoriteCount},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount},
            </if>
            <if test="goodCommentCount != null">
                good_comment_count = #{goodCommentCount},
            </if>
            <if test="goodCommentRate != null">
                good_comment_rate = #{goodCommentRate},
            </if>
            <if test="defaultActivityQuotaNumber != null">
                default_activity_quota_number = #{defaultActivityQuotaNumber},
            </if>
            <if test="auditStatus != null">
                audit_status = #{auditStatus},
            </if>
            <if test="deleteCord___ != null">
                delete_cord___ = #{deleteCord___},
            </if>
            <if test="isNew != null">
                is_new = #{isNew},
            </if>
            <if test="isBest != null">
                is_best = #{isBest},
            </if>
            <if test="isHot != null">
                is_hot = #{isHot},
            </if>
            <if test="statusRemarks != null">
                status_remarks = #{statusRemarks},
            </if>
            <if test="auditPassTime != null">
                audit_pass_time = #{auditPassTime},
            </if>
            <if test="attrCatId != null">
                attr_cat_id = #{attrCatId},
            </if>
            <if test="goodsStock != null">
                goods_stock = #{goodsStock},
            </if>
            <if test="goodsCode != null">
                goods_code = #{goodsCode},
            </if>
            <if test="isBook != null">
                is_book = #{isBook},
            </if>
            <if test="rebate != null">
                rebate = #{rebate},
            </if>
            <if test="bookQuantity != null">
                book_quantity = #{bookQuantity},
            </if>
            <if test="isRecomm != null">
                is_recomm = #{isRecomm},
            </if>
            <if test="isAdminBest != null">
                is_admin_best = #{isAdminBest},
            </if>
            <if test="isAdminRecom != null">
                is_admin_recom = #{isAdminRecom},
            </if>
            <if test="isShopRecomm != null">
                is_shop_recomm = #{isShopRecomm},
            </if>
            <if test="isIndexRecomm != null">
                is_index_recomm = #{isIndexRecomm},
            </if>
            <if test="isActivityRecomm != null">
                is_activity_recomm = #{isActivityRecomm},
            </if>
            <if test="isInnerRecomm != null">
                is_inner_recomm = #{isInnerRecomm},
            </if>
            <if test="recommDesc != null">
                recomm_desc = #{recommDesc},
            </if>
            <if test="saleTime != null">
                sale_time = #{saleTime},
            </if>
            <if test="deliveryFareTempId != null">
                delivery_fare_temp_id = #{deliveryFareTempId},
            </if>
            <if test="deliveryFareTempValue != null">
                delivery_fare_temp_value = #{deliveryFareTempValue},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            update_time = now(),
            <if test="isDelete != null">
                is_delete = #{isDelete},
            </if>
            <if test="versionId != null">
                version_id = #{versionId},
            </if>
		</set>
		WHERE goods_id = #{goodsId}
	</update>
	
	<insert id="insert" parameterType="com.zheng.example.domain.Goods"
			useGeneratedKeys="true" keyProperty="goods_id">
		INSERT INTO <include refid="tableName"/>(
            goods_id,
            goods_sn,
            goods_type,
            goods_name,
            goods_thumb,
            goods_img,
            cat_id,
            customer_cat_id,
            brand_id,
            supplier_id,
            units_id,
            factory_price,
            supply_price,
            market_price,
            retail_price,
            bottom_price_attr_id,
            price_explain,
            deliver_fee,
            moq,
            sale_count,
            exception_un_sale_num,
            gift_send_count,
            warn_stock,
            goods_spec,
            goods_param,
            is_sale,
            goods_desc,
            goods_status,
            goods_keywords,
            score,
            gd_group_id,
            activity_price,
            favorite_count,
            comment_count,
            good_comment_count,
            good_comment_rate,
            default_activity_quota_number,
            audit_status,
            delete_cord___,
            is_new,
            is_best,
            is_hot,
            status_remarks,
            audit_pass_time,
            attr_cat_id,
            goods_stock,
            goods_code,
            is_book,
            rebate,
            book_quantity,
            is_recomm,
            is_admin_best,
            is_admin_recom,
            is_shop_recomm,
            is_index_recomm,
            is_activity_recomm,
            is_inner_recomm,
            recomm_desc,
            sale_time,
            delivery_fare_temp_id,
            delivery_fare_temp_value,
            create_time,
            update_time,
            is_delete,
            version_id
        )
		VALUES (
                #{goodsId},
                #{goodsSn},
                #{goodsType},
                #{goodsName},
                #{goodsThumb},
                #{goodsImg},
                #{catId},
                #{customerCatId},
                #{brandId},
                #{supplierId},
                #{unitsId},
                #{factoryPrice},
                #{supplyPrice},
                #{marketPrice},
                #{retailPrice},
                #{bottomPriceAttrId},
                #{priceExplain},
                #{deliverFee},
                #{moq},
                #{saleCount},
                #{exceptionUnSaleNum},
                #{giftSendCount},
                #{warnStock},
                #{goodsSpec},
                #{goodsParam},
                #{isSale},
                #{goodsDesc},
                #{goodsStatus},
                #{goodsKeywords},
                #{score},
                #{gdGroupId},
                #{activityPrice},
                #{favoriteCount},
                #{commentCount},
                #{goodCommentCount},
                #{goodCommentRate},
                #{defaultActivityQuotaNumber},
                #{auditStatus},
                #{deleteCord___},
                #{isNew},
                #{isBest},
                #{isHot},
                #{statusRemarks},
                #{auditPassTime},
                #{attrCatId},
                #{goodsStock},
                #{goodsCode},
                #{isBook},
                #{rebate},
                #{bookQuantity},
                #{isRecomm},
                #{isAdminBest},
                #{isAdminRecom},
                #{isShopRecomm},
                #{isIndexRecomm},
                #{isActivityRecomm},
                #{isInnerRecomm},
                #{recommDesc},
                #{saleTime},
                #{deliveryFareTempId},
                #{deliveryFareTempValue},
                now(),
                now(),
                0,
                #{versionId}
		)
	</insert>
</mapper>
