<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zheng.example.dao.User1Dao">

	<resultMap id="BaseMap" type="com.zheng.example.domain.User1">
        <id column="id" property="id" />
        <result column="nick_name" property="nickName" />
        <result column="age" property="age" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
	</resultMap>

	<sql id="tableName">wst_user1</sql>
	<sql id="Base_Column_List">
            id,
            nick_name,
            age,
            create_time,
            update_time,
            is_delete
	</sql>
	
	<select id="selectById" resultMap="BaseMap">
		SELECT <include refid="Base_Column_List"/>
		FROM <include refid="tableName"/>
		WHERE id = #{id}
        AND is_delete = 0
	</select>

    <select id="listPageByFilter" resultMap="BaseMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tableName"/>
        <where>
            <if test="filter.nickName != null and filter.nickName != ''">
                    and nick_name like concat('%', #{filter.nickName}, '%')
            </if>
            <if test="filter.age != null">
                    and age = #{filter.age}
            </if>
            <if test="filter.createTime != null">
                    and create_time = #{filter.createTime}
            </if>
            <if test="filter.updateTime != null">
                    and update_time = #{filter.updateTime}
            </if>
            and is_delete = 0
        </where>
        ORDER BY updateTime DESC
    </select>

    <select id="listPage" resultMap="BaseMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tableName"/>
        WHERE is_delete = 0
        ORDER BY updateTime DESC
    </select>

    <select id="listByFilter" resultMap="BaseMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tableName"/>
        <where>
            <if test="filter.nickName != null and filter.nickName != ''">
                    and nick_name like concat('%', #{filter.nickName}, '%')
            </if>
            <if test="filter.age != null">
                    and age = #{filter.age}
            </if>
            <if test="filter.createTime != null">
                    and create_time = #{filter.createTime}
            </if>
            <if test="filter.updateTime != null">
                    and update_time = #{filter.updateTime}
            </if>
            and is_delete = 0
        </where>
        ORDER BY updateTime DESC
    </select>

    <select id="findAll" resultMap="BaseMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="tableName"/>
        WHERE is_delete = 0
        ORDER BY updateTime DESC
    </select>

    <update id="deleteById">
        UPDATE <include refid="tableName"/>
        SET is_delete = 1
        WHERE id = #{id}
	</update>
	
	<update id="update" parameterType="com.zheng.example.domain.User1">
		UPDATE <include refid="tableName"/>
		<set>
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            update_time = now(),
            <if test="isDelete != null">
                is_delete = #{isDelete},
            </if>
		</set>
		WHERE id = #{id}
	</update>
	
	<insert id="insert" parameterType="com.zheng.example.domain.User1"
			useGeneratedKeys="true" keyProperty="id">
		INSERT INTO <include refid="tableName"/>(
            id,
            nick_name,
            age,
            create_time,
            update_time,
            is_delete
        )
		VALUES (
                #{id},
                #{nickName},
                #{age},
                now(),
                now(),
                0
		)
	</insert>
</mapper>
