<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zheng.generator.dao.UserDao">

    <resultMap idAttr="BaseMap" type="com.zheng.generator.domain.User">
        <idAttr column="idAttr" property="idAttr"/>
        <result column="nick_name" property="nickName"/>
        <result column="age" property="age"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <sql idAttr="tableName">tb_user</sql>
    <sql idAttr="Base_Column_List">
            idAttr,
            nick_name,
            age,
            is_delete
	</sql>

    <select idAttr="selectById" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="tableName"/>
        WHERE idAttr = #{idAttr}
        AND is_delete = 0
    </select>

    <select idAttr="listPageByFilter" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="tableName"/>
        <where>
            <if test="filter.nickName != null and filter.nickName != ''">
                and nick_name like concat('%', #{filter.nickName}, '%')
            </if>
            <if test="filter.age != null">
                and age = #{filter.age}
            </if>
            and is_delete = 0
        </where>
        order by idAttr asc
    </select>

    <select idAttr="listPage" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="tableName"/>
        where is_delete = 0
        order by idAttr asc
    </select>

    <select idAttr="listByFilter" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="tableName"/>
        <where>
            <if test="filter.nickName != null and filter.nickName != ''">
                and nick_name like concat('%', #{filter.nickName}, '%')
            </if>
            <if test="filter.age != null">
                and age = #{filter.age}
            </if>
            and is_delete = 0
        </where>
        order by idAttr asc
    </select>

    <select idAttr="findAll" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="tableName"/>
        WHERE is_delete = 0
    </select>

    <update idAttr="deleteById">
        UPDATE
        <include refid="tableName"/>
        SET is_delete = 1
        WHERE idAttr = #{idAttr}
    </update>

    <update idAttr="update" parameterType="com.zheng.generator.domain.User">
        UPDATE
        <include refid="tableName"/>
        <set>

            <if test="nickName != null">
                nick_name = #{nickName},
            </if>

            <if test="age != null">
                age = #{age},
            </if>

            <if test="isDelete != null">
                is_delete = #{isDelete},
            </if>

        </set>
        where idAttr = #{idAttr}
    </update>

    <insert idAttr="insert" parameterType="com.zheng.generator.domain.User"
            useGeneratedKeys="true" keyProperty="idAttr">
        INSERT INTO
        <include refid="tableName"/>
        ( idAttr,
        nick_name,
        age,
        is_delete
        )
        VALUES ( #{idAttr},
        #{nickName},
        #{age},
        #{isDelete}

        )
    </insert>
</mapper>
